
@{
    ViewBag.Title = "Wynajmy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Aktywne wynajmy</h2>

<table id="rentals" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Numer wynajmu</th>
            <th>Pojazd</th>
            <th>Klient</th>
            <th>Data wypożyczenia</th>
            <th>Planowany zwrot</th>
            <th>Długość wynajmu</th>
            <th>Całkowity przychód</th>
            <th>Usuń</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $('#rentals').DataTable({
                ajax: {
                    url: "/api/rentals/all",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "id"
                    },
                    {
                        data: "vehicle.name"
                    },
                    {
                        data: "customer.name"
                    },
                    {
                        data: "dateRented",
                        render: function (data) {
                            return data.toString().substr(0, 10);
                        }
                    },
                    {
                        data: "dateReturned",
                        render: function (data) {
                            return data.toString().substr(0, 10);
                        }
                    },
                    {
                        data: "length"
                    },
                    {
                        data: "totalCost",
                        render: function (data) {
                            return data + " PLN";
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn btn-danger js-delete' data-rental-id=" + data + ">Usuń</button>";
                        }
                    }
                ]
            });

            $("#rentals").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm({
                    title: "Usunąć Wynajem?",
                    closeButton: false,
                    message: "Czy na pewno? Tej operacji nie można cofnąć...",
                    buttons: {
                        cancel: {
                            label: '<i class="fa fa-times"></i> Cofnij'
                        },
                        confirm: {
                            label: '<i class="fa fa-check"></i> Usuń',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/rentals/" + button.attr("data-rental-id"),
                                method: "DELETE",
                                success: function () {
                                    table.row(button.parents("tr")).remove().draw();
                                }
                            });
                        }
                    }
                });
            });
        });
    </script>
}

