@model Renteo.Dtos.RentalDto

@{ 
    ViewBag.Title = "Wynajmy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Aktywne wynajmy</h2>

<table id="rentals" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Numer wynajmu</th>
            <th>Pojazd</th>
            <th>Klient</th>
            <th>Data wypożyczenia</th>
            <th>Planowany zwrot</th>
            <th>Całkowity koszt</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $('#rentals').DataTable({
                ajax: {
                    url: "/api/rentals/my/1",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "id"
                    },
                    {
                        data: "vehicle.name"
                    },
                    {
                        data: "customer.name"
                    },
                    {
                        data: "dateRented",
                        render: function (data) {
                            return data.toString().substr(0, 10);
                        }
                    },
                    {
                        data: "dateReturned",
                        render: function (data) {
                            return data.toString().substr(0, 10);
                        }
                    },
                    {
                        data: "totalCost",
                        render: function (data) {
                            return data + " PLN";
                        }
                    }
                ]
            });
        });
    </script>
}

