
@{
    ViewBag.Title = "Rentals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rentals</h2>

<table id="rentals" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Rental No.</th>
            <th>Vehicle</th>
            <th>Customer</th>
            <th>Date of rent</th>
            <th>Expected return</th>
            <th>Total cost</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $('#rentals').DataTable({
                ajax: {
                    url: "/api/rentals",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "id"
                    },
                    {
                        data: "vehicle.name"
                    },
                    {
                        data: "customer.name"
                    },
                    {
                        data: "dateRented",
                        render: function (data) {
                            return data.toString().substr(0, 10);
                        }
                    },
                    {
                        data: "dateReturned",
                        render: function (data) {
                            return data.toString().substr(0, 10);
                        }
                    },
                    {
                        data: "totalCost",
                        render: function (data) {
                            return data + " PLN";
                        }
                    }
                ]
            });
        });
    </script>
}

