@{
    ViewBag.Title = "O mnie";
}
<h2>@ViewBag.Title / About Author</h2>
<h4> Hi there, my name is Oskar and I am a C# developer-wannabe. <br /></h4>
<h5> Polish version below :) </h5>
<p>
    Currently I'm working in a car fleet management company, so based
    on my working experience I've decided to make an application for handling car rentals. <br />
    <br/>
    Entire application is based on ASP.NET MVC and Entity Framework.
    You can register new account here, create new customers and vehicles (depending on your role)
    and manage rentals. Also you can check total cost of rental which is a result of the calculation of
    rental duration, vehicle cost per day and discount rate for each customer's membership type.
    <br /><br />
    The process of creating Renteo is (I hope) well documented on my 
    <a href="http://github.com/oskarowy">Github profile</a>. 
    <br />
    You can also visit my homepage at <a href="http://www.oskarbialek.it">www.oskarbialek.it</a> 
    to check my other projects or get know me closer.
</p>
<p>
    Aktualnie pracuję w firmie z branży zarządzania flotą samochodową, dlatego bazując na doświadczeniu zawodowym,
    postanowiłem stworzyć aplikację do obsługi wynajmowania pojazdów. <br />
    <br />
    Cała aplikacja zbudowana jest w technologii ASP.NET MVC z wykorzystaniem frameworka Entity. Możesz zarejestrować
    nowe konto, stworzyć Klientów i pojazdy (zależnie od posiadanej roli Użytkownika) i zarządzać wynajmami. Dodatkowo
    możesz również sprawdzić koszt wynajmu, będący wynikiem obliczeń czasu jego trwania, stawki dziennej i zniżki posiadanej
    przez Klienta, zależnej od typu posiadanego członkostwa.
    <br /><br />
    Proces tworzenia Renteo jest (mam nadzieję) dobrze udokumentowany na moim <a href="http://github.com/oskarowy">Github'ie</a>.
    <br />
    Jeśli chcesz, możesz również odwiedzić moją stronę <a href="http://www.oskarbialek.it">www.oskarbialek.it</a> , aby sprawdzić inne moje projekty i bliżej mnie poznać.
</p>
