@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title Author</h2>
<h4> Hi there, my name is Oskar and I am a C# developer-wannabe. <br /></h4>
<p>
    Currently I'm working in a car fleet management company, so based
    on my working experience I've decided to make an application for handling car rentals. <br />
    <br/>
    Entire application is based on ASP.NET MVC and Entity Framework.
    You can register new account here, create new customers and vehicles (depending on your role)
    and manage rentals. Also you can check total cost of rental which is a result of the calculation of
    rental duration, vehicle cost per day and discount rate for each customer's membership type.
    <br /><br />
    The process of creating Renteo is (I hope) well documented on my 
    <a href="http://github.com/oskarowy">Github profile</a>. 
    <br />
    You can also visit my homepage at <a href="http://www.oskarbialek.it">www.oskarbialek.it</a> 
    to check my other projects or get know me closer.
</p>
