@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>Skontaktuj się ze mną!</h3>

<address>
    Oskar Białek<br />
    <abbr title="Mail">E-mail:</abbr>
    <a href="mailto:oskar.bialek.programista@gmail.com">Wyślj wiadomość</a>
    <br />
    <abbr title="Phone">Mobile:</abbr>
    508-869-019
</address>

<address>
    <strong>Homepage:</strong>   <a href="http://www.oskarbialek.it">www.oskarbialek.it</a><br />
    <strong>Other projects:</strong> <a href="http://github.com/oskarowy">Github</a>
</address>