@{
    ViewBag.Title = "Just Renteo it!";
}

<div class="jumbotron">
    <h1>Renteo</h1>
    <p class="lead">wypożycz od nas samochód. Sam zobaczysz, jakie to proste.</p>
    <p>@Html.ActionLink("Startujemy !", "Register", "Account", routeValues: null, htmlAttributes: new { @class="btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Do startu!</h2>
        <p>
            Zacznij od rejestracji w Renteo. Możesz to zrobić używając swojego konta w mediach społecznościowych
            lub w tradycyjny sposób - po prostu kliknij w @Html.ActionLink("ten link", "Register", "Account")
            albo na przycisk powyżej. 
            <br /><br/>
            Zarejestrowany? Przejdź do następnego kroku i przygotuj się na nowe doświadczenia!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Gotowi?</h2>
        <p>
            Nadszedł czas decyzji. Wybierz silnik wysokoprężny lub benzynowy - chyba, że jesteś eco-friendly - wtedy weź elektryka
            lub hybrydę! Przemyśl też interesujący Cię typ nadwozia. Jeśli chcesz zabrać większą ekipę znajomych, weź jednego z vanów bądź dużego SUV'a.
            <br />
            Cały park pojazdów możesz @Html.ActionLink("sprawdzić tutaj", "Index", "Vehicles").
        </p>
    </div>
    <div class="col-md-4">
        <h2>Renteo!</h2>
        <p>Dokonałeś wyboru?
            <br />
            Tylko pośpiesz się i weź swój wymarzony samochód, zanim zrobi to ktoś inny. Aha, o rozliczenie się
            nie martw. Pobierzemy należność z twojej karty płatniczej automatycznie, a na przy zakończeniu wynajmu
            zobaczysz jego podsumowanie wraz z proformą faktury!
        </p>
    </div>
</div>