@{
    ViewBag.Title = "Baza Klientów";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Baza Klientów</h2>

<div style="margin-bottom: 20px; margin-top: 20px;">
    @Html.ActionLink("Dodaj nowego Klienta", "New", "Customers", null, new { @class = "btn btn-primary" })
</div>

<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Klient</th>
            <th>Rodzaj członkostwa</th>
            <th>Czas trwania</th>
            <th>Zniżka członkowska</th>
            <th>Usuń</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $('#customers').DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, customer) {
                            return "<a href='/customers/edit/" + customer.id + "'>" + customer.name + "</a>";
                        }
                    },
                    {
                        data: "membershipType.name"
                    },
                    {
                        data: "membershipType.durationInMonths",
                        render: function (data) {
                            return data == 1 ? data + " miesiąc" : data + " miesięcy";
                        }
                    },
                    {
                        data: "membershipType.discountRate",
                        render: function (data) {
                            return data + "%";
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn btn-danger js-delete' data-customer-id=" + data + ">Usuń</button>";
                        }
                    }
                ]
            });

            $("#customers").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm({
                    title: "Usunąć Klienta?",
                    closeButton: false,
                    message: "Czy na pewno? Tej operacji nie można cofnąć...",
                    buttons: {
                        cancel: {
                            label: '<i class="fa fa-times"></i> Cofnij'
                        },
                        confirm: {
                            label: '<i class="fa fa-check"></i> Usuń',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/customers/" + button.attr("data-customer-id"),
                                method: "DELETE",
                                success: function () {
                                    table.row(button.parents("tr")).remove().draw();
                                }
                            });
                        }
                    }
                });
            });
        });
    </script>
}