@using Microsoft.AspNet.Identity


<div class="navbar-collapse">

    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <ul class="nav navbar-nav navbar-right mr-auto">
                <li class="nav-item">
                    @Html.ActionLink("Edytuj dane użytkownika : " + User.Identity.GetUserName(), "Edit", "Customers", new { id = 21 }, htmlAttributes: new { @class = "nav-link" })
                </li>
                <li class="nav-item"><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Wyloguj się</a></li>
            </ul>
        }
    }
    else
    {
        <ul class="nav navbar-nav navbar-right mr-auto">
            <li class="nav-item">@Html.ActionLink("Zarejestruj", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
            <li class="nav-item">@Html.ActionLink("Zaloguj", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
        </ul>
    }
</div>