  <appSettings>
    <add key="FacebookAppId" value="2206135976269417"/>
    <add key="FacebookAppSecret" value="26b2ee80caa5f5103bf0279053455880"/>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>