@model IEnumerable<Renteo.Models.Vehicle>
@{
    ViewBag.Title = "Vehicles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vehicles</h2>

<div style="margin-bottom: 15px">
    @Html.ActionLink("New Vehicle", "New", "Vehicles", new { @class = "btn btn-primary" })
</div>
@if (!Model.Any())
{
    <p>We don't have any vehicles yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Vehicle</th>
                <th>Type of body</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vehicle in Model)
            {
                var name = vehicle.Make + " " + vehicle.Model;
                <tr>
                    <td>@Html.ActionLink(name, "Details", "Vehicles", new { id = vehicle.Id }, null)</td>
                    <td>@vehicle.VehicleType.BodyType</td>
                </tr>
            }
        </tbody>
    </table>
}   