
@{
    ViewBag.Title = "Park pojazdów";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Park pojazdów</h2>

<div style="margin-bottom: 20px; margin-top: 20px;">
    @Html.ActionLink("Dodaj nowy pojazd", "New", "Vehicles", null, new { @class = "btn btn-primary" })
</div>

<table id="vehicles" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Pojazd</th>
            <th>Rok produkcji</th>
            <th>Nadwozie</th>
            <th>Status wynajmu</th>
            <th>Czynsz dzienny</th>
            <th>Usuń</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $('#vehicles').DataTable({
                ajax: {
                    url: "/api/vehicles/all",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, vehicle) {
                            return "<a href='/vehicles/edit/" + vehicle.id + "'>" + vehicle.name + "</a>";
                        }
                    },
                    {
                        data: "productionYear"
                    },
                    {
                        data: "vehicleType.bodyType"
                    },
                    {
                        data: "isRented",
                        render: function (data) {
                            if (data) return "Wynajęty";
                            else return "Wolny";
                        }
                    },
                    {
                        data: "rentalStake",
                        render: function (data) {
                            return data + " PLN";
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn btn-danger js-delete' data-vehicle-id=" + data + ">Usuń</button>";
                        }
                    }
                ]
            });

            $("#vehicles").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm({
                    title: "Usunąć pojazd?",
                    closeButton: false,
                    message: "Czy na pewno? Tej operacji nie można cofnąć...",
                    buttons: {
                        cancel: {
                            label: '<i class="fa fa-times"></i> Cofnij'
                        },
                        confirm: {
                            label: '<i class="fa fa-check"></i> Usuń',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/vehicles/" + button.attr("data-vehicle-id"),
                                method: "DELETE",
                                success: function () {
                                    table.row(button.parents("tr")).remove().draw();
                                }
                            });
                        }
                    }
                });
            });
        });
    </script>
}