
@{
    ViewBag.Title = "Park pojazdów";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Park pojazdów"</h2>

<table id="vehicles" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Pojazd</th>
            <th>Rok produkcji</th>
            <th>Nadwozie</th>
            <th>Rodzaj paliwa</th>
            <th>Czynsz dzienny</th>
            <th>Status wynajmu</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $('#vehicles').DataTable({
                ajax: {
                    url: "/api/vehicles/all",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, vehicle) {
                            return "<a href='/vehicles/details/" + vehicle.id + "'>" + vehicle.name + "</a>";
                        }
                    },
                    {
                        data: "productionYear"
                    },
                    {
                        data: "vehicleType.bodyType"
                    },
                    {
                        data: "fuelType"
                    },
                    {
                        data: "rentalStake",
                        render: function (data) {
                            return data + " PLN";
                        }
                    },
                    {
                        data: "isRented",
                        render: function (data) {
                            if (data) return "<span class='rented'>Wynajęty</span>";
                            else return "<a area='' class='btn btn-success' href='/rentals/new/'>Wolny!</a>";
;
                        }
                    }
                   
                ]
            });
        });
    </script>
}