
@{
    ViewBag.Title = "Vehicles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vehicles</h2>

<table id="vehicles" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Make and Model</th>
            <th>Production year</th>
            <th>Type of body</th>
            <th>Fuel type</th>
            <th>Rental status</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $('#vehicles').DataTable({
                ajax: {
                    url: "/api/vehicles/all",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, vehicle) {
                            return "<a href='/vehicles/details/" + vehicle.id + "'>" + vehicle.name + "</a>";
                        }
                    },
                    {
                        data: "productionYear"
                    },
                    {
                        data: "vehicleType.bodyType"
                    },
                    {
                        data: "fuelType"
                    },
                    {
                        data: "isRented",
                        render: function (data) {
                            if (data) return "<span class='rented'>Rented</span>";
                            else return "<a area='' class='btn btn-success' href='/rentals/new/'>Free</a>";
;
                        }
                    }
                   
                ]
            });
        });
    </script>
}